.logo {
float:left;
}

h1
{
    margin-top:30px; 
    text-align: left;
    color: teal;
    font-size: 55px;
}

body {
    width: 70%;
    margin: auto;
}

h2
{
    margin-top:-10px;
    color:mediumpurple;
/*    font-size: medium;*/
}

/*
h3{
    margin-top:-30px;
    color:lightp;
}*/

#onglets
{
    list-style-type : none;
    padding-bottom : 25px; 
    border-bottom : 1px white;
    margin-left : 0;
}
#onglets li
{
    float : left;
    height : 21px; 
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px white;
}
body {
/*        width: 50%;*/
/*
	min-width: 1024px ;
	max-width: 1280px ;
*/
	margin: auto ;
	/*margin-top: -40px ;*/
}

header {
	padding-top: 5px ;
	margin-top: 15px ;
	margin-bottom: 10px ;
}
section {
	/*box-shadow : 6px 4px 8px  ;*/
	padding: 0px;
	background-color: white;
}
article {
	text-align: justify ;
	background-color: white;
	padding: 2em;
}

footer { 
    text-align: center;
    margin-top:40px;
}
#prix p {
    text-align: center;
    font-size: 20px;
}


aside {
position: fixed;
/*bottom: 0;*/
right: 17%;
width: 15%;
float:right;
background-color: white;
}
.cf main  {
    float: left;
    width : 70%;
}
.cf:before,
 .cf:after{
  content:" "; 
  display:table; 
 }

.cf:after{
    clear:both;
}
